* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
}

input {
  width: 400px;
}

input, button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

.App {
  height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E2E3DE;
  background-repeat: repeat-y;
}

form {
  display: block;
  position: relative;
}

form .form-inner {
  position: relative;
  display: block;
  background-color: #FFF;
  padding: 50px;
}

form .form-inner h2{
  color: #000;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

form .form-inner .form-group{
  display: block;
  width: 300px;
  margin-bottom: 15px;
}

.form-inner .form-group label{
  display: block;
  color: #000;
  font-size: 12px;
  margin-bottom: 5px;
}

form .form-inner .form-group {
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: #f8f8f8;
  border-radius: 8px;
}

form .form-inner button {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-color: #06908F;
  color: #000;
  font-weight: 500;
  cursor: pointer;
  transition: all .2s ease-in-out; 
}

form .form-inner button:hover {
  transform: scale(1.1); 
}